:root,
::backdrop {

	--global-scale: 1.2;
	--global-text-scale: 1.2;

	--sl-color-bg: rgb(46, 47, 67);
	--page-border-radius-4: 0.5rem;
	--rhp-a-hover-color: var(--sl-color-text);
	--rhp-color-gray-non-transparent: hsl(236, 19%, 17%);
	--rhp-color-gray: hsla(0, 0%, 0%, 0.23);
	--sl-color-gray-6: hsla(225, 15%, 16%, 0);
	--astro-code-color-background: var(--rhp-color-gray);
	--sl-color-accent-high: #f2cc8f;

	 /* Originally uses --sl-color-gray-6 which has been made transparent here for convenience */
	--sl-color-bg-nav: var(--rhp-color-gray-non-transparent);

	/** Key layout values */
	--sl-nav-height: calc(var(--global-scale)*3.5rem);
	--sl-nav-pad-x: calc(var(--global-scale)*1rem);
	--sl-nav-pad-y: calc(var(--global-scale)*0.75rem);
	--sl-mobile-toc-height: calc(var(--global-scale)*3rem);
	--sl-sidebar-width: calc(var(--global-scale)*18rem);
	--sl-sidebar-pad-x: calc(var(--global-scale)*1rem);
	--sl-content-width: calc(var(--global-scale)*46rem);
	--sl-content-pad-x: calc(var(--global-scale)*1rem);
	--sl-menu-button-size: calc(var(--global-scale)*2rem);
	--sl-nav-gap: calc(var(--global-scale)*var(--sl-content-pad-x));
	/* Offset required to show outline inside an element instead of round the outside */
	--sl-outline-offset-inside: -0.1875rem;
	
	--sl-color-hairline-shade: var(--sl-color-grey-6);

    --pagefind-ui-scale: 1;

	/* Text size and line height */
	--sl-text-xs: calc( var(--global-text-scale)*0.8125rem); /* 13px */
	--sl-text-sm: calc( var(--global-text-scale)*0.875rem); /* 14px */
	--sl-text-base: calc( var(--global-text-scale)*1rem); /* 16px */
	--sl-text-lg: calc( var(--global-text-scale)*1.125rem); /* 18px */
	--sl-text-xl: calc( var(--global-text-scale)*1.25rem); /* 20px */
	--sl-text-2xl: calc( var(--global-text-scale)*1.5rem); /* 24px */
	--sl-text-3xl: calc( var(--global-text-scale)*1.8125rem); /* 29px */
	--sl-text-4xl: calc( var(--global-text-scale)*2.1875rem); /* 35px */
	--sl-text-5xl: calc( var(--global-text-scale)*2.625rem); /* 42px */
	--sl-text-6xl: calc( var(--global-text-scale)*4rem); /* 64px */

}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
	--sl-color-bg: rgb(255, 255, 255);
	--rhp-a-hover-color: var(--sl-color-text);
	--rhp-color-gray: hsla(234, 37%, 27%, 0.08);
	--sl-color-gray-6: hsla(225, 15%, 16%, 0);

	--sl-color-accent-high: #f2cc8f;
	--sl-color-text-accent: #f2cc8f;

}

@media screen and (max-width: 1150px) {
	:root,
	::backdrop {
		--sl-sidebar-width: 16rem;
	}
	
}

/* @media (prefers-color-scheme: light) {

	pre::-webkit-scrollbar-thumb {
		background-color: #ffffffcc;
	}

	pre::-moz-scrollbar-thumb {
		background-color: #ffffffcc;
	}

} */

/* Styling the scrollbar in Chrome */
::-webkit-scrollbar {
	width: 8px;
	height:8px;
	opacity: 0.4;
}
::-webkit-scrollbar-corner {
	background-color: var(--sl-color-text);
	border-radius: 0 0 10px 0;
}
::-webkit-scrollbar-thumb {
	background-color: var(--sl-color-text);
}
::-webkit-scrollbar-track {
	background-color: unset;
	opacity: 0;
}
pre::-webkit-scrollbar {
	padding-left: 2px;
	padding-right: 2px;
}

/* Styling the scrollbar in Firefox */
::-moz-scrollbar {
	width: 8px;
	height:8px;
	opacity: 0.4;
}
::-moz-scrollbar-corner {
	background-color: var(--sl-color-text);
}
::-moz-scrollbar-thumb {
	background-color: var(--sl-color-text);
}
::-moz-scrollbar-track {
	background-color: unset;
	z-index: 0;
	opacity: 0;
}
pre::-moz-scrollbar {
	margin-left: 2px;
	margin-right: 2px;
}

pre::-webkit-scrollbar-track {
	background-color: unset;
	opacity: 0;
}

pre::-moz-scrollbar-track {
	background-color: unset;
	z-index: 0;
	opacity: 0;
}

site-search > dialog::-webkit-scrollbar-track { 
	box-shadow: inset 0 0 10px 10px transparent;
    border: solid 10px transparent;
}
site-search > dialog::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px var(--sl-color-text);
    border: solid 10px transparent;
}
site-search > dialog::-moz-scrollbar-track {
	box-shadow: inset 0 0 10px 10px transparent;
    border: solid 3px transparent;
}

@media (max-width: 50rem) {
	site-search > button[data-open-modal] {
		border: 0;
		border-radius: 50%;
		width: var(--sl-menu-button-size);
		height: var(--sl-menu-button-size);
		opacity: 0.85;
	}

	site-search > button[data-open-modal]:hover {
		background-color: var(--rhp-color-gray);
		opacity: 1;
	}

	site-search > button[data-open-modal] > svg {
		font-size: calc(0.9*var(--sl-icon-size, 1em));
	}
}

/* Page header/navbar section */
.header {
	background-color: var(--sl-color-bg);
}

header.header {
	/* border-bottom: 1px solid var(--sl-color-gray-5); */
	box-shadow: var(--sl-shadow-md);
}

.header.header-top {
	/* border-bottom: unset; */
	box-shadow: unset;
}

.header .right-group {
	gap: 0.5rem;
}

.social-icons {
	gap: 0.5rem;
}

.social-icons a {
	color: var(--sl-color-text);
	padding: 12px;
    border-radius: 50%;
}

.social-icons a:hover {
	color: var(--sl-color-white);
	opacity: unset;
	background-color: var(--rhp-color-gray);
}

/* Hamberger Menu button section */
starlight-menu-button > button {
	color: var(--sl-color-text);
	background-color: transparent;
	box-shadow: none;
	align-items: center;
	justify-content: center;
	opacity: 0.85;
}

starlight-menu-button:not([aria-expanded=true]) > button:hover {
	opacity: 1;
	background-color: var(--rhp-color-gray);
}

starlight-menu-button > button > svg {
	font-size: calc(1.4*var(--sl-icon-size, 1em));
}

starlight-menu-button[aria-expanded=false] > button:hover {
	opacity: 1;
	background-color: var(--rhp-color-gray);
}

starlight-menu-button[aria-expanded=true] > button {
	color: var(--sl-color-bg);
	background-color: var(--sl-color-text)!important;
	opacity: 0.85;
}

starlight-menu-button[aria-expanded=true] > button:hover {
	opacity: 1;
}

 /* Dark/Light Theme Switcher button section */
starlight-theme-select {
	padding-inline: 10px;
    border-radius: 0.5rem;
}

starlight-theme-select:hover {
	background-color: var(--rhp-color-gray);

}

starlight-theme-select > label:hover {
	color: var(--sl-color-white);
}

starlight-theme-select select {
	width: unset;
}

starlight-theme-select select:focus-visible {
	outline: none!important;
}

.pagination-links > a {
	border-radius: var(--page-border-radius-4);
	background-color: var(--rhp-color-gray);
}

.main-pane .content {
	font-size: var(--sl-text-base);
}

.content .astro-code {
	border: none;
	border-radius: var(--page-border-radius-4);
	box-shadow: var(--sl-shadow-md);
}

.code-wrapper, .scroll-wrapper {
	border-radius: var(--page-border-radius-4);
	overflow: hidden;
}

@media (min-width: 72rem) {
	[data-has-sidebar][data-has-toc] .main-pane {
	   width: calc(var(--sl-content-width) + (100vw - var(--sl-content-width) - 2*var(--sl-sidebar-width) + 1.2*var(--sl-content-pad-x)) / 2);
   	}
}

.right-sidebar-container {
    width: min(calc(var(--sl-sidebar-width) + (100vw - var(--sl-content-width) - 2*var(--sl-sidebar-width) + 1.2*var(--sl-content-pad-x)) / 2), calc(var(--sl-sidebar-width) ));
    margin-left: auto;
}

.right-sidebar-panel > .sl-container {
	max-width: min(calc(var(--sl-sidebar-width) - 2*var(--sl-content-pad-x) + (100vw - var(--sl-content-width) - 2*var(--sl-sidebar-width)) / 2), calc(var(--sl-sidebar-width) - 2*var(--sl-content-pad-x)));
}

.sidebar-content {
	padding: 1rem var(--sl-sidebar-pad-x) 0 0;
}

.sidebar-content .top-level {
	padding: 0 0 0 calc(var(--sl-sidebar-pad-x) - var(--sl-sidebar-item-padding-inline));
}

.sidebar-content details > summary {
	padding-inline-start: var(--sl-sidebar-item-padding-inline);
	border-radius: 0.25rem;
}

.sidebar-content details > summary:hover {
	background-color: var(--rhp-color-gray);
}

.sidebar-content details > ul {
	padding-left: var(--sl-sidebar-item-padding-inline);
}

.sidebar-content details > ul > li {
	margin-inline-start: unset;
    border-inline-start: unset; 
    padding-inline-start: unset;
}
.sidebar-content details > ul > li > a {
	padding-inline-start: var(--sl-sidebar-item-padding-inline);
}

.sidebar-content details > ul > li > a:not([aria-current="page"]):hover {
	background-color: var(--rhp-color-gray);
}

.right-sidebar-panel nav > ul > li > a:not([aria-current="true"]):hover {
	background-color: var(--rhp-color-gray);
}


@media (min-width: 50rem) {
	#starlight__sidebar .large {
		font-size: var(--sl-text-lg);
	}
}

.plot-area .full-bar {
	margin-top: -1.5rem;
}

.plot-area .full-bar, .plot-area .bar-content-container, .plot-area .bar-dec-cont, .plot-area .decoration, .plot-area .bar, .plot-area .decoration * , .plot-area .bar * {
	margin-top: 0;
}

.animated-dots.plot {
	margin-bottom: -1.25rem!important;
}

.animated-dots.plot > .segment-plot {
	padding-top: 0.5rem;
}

.component-guide-s-plot .segment-plot {
	opacity: 0.55;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
	border: 3px solid var(--sl-color-text);
	padding: 12px;
}
.component-guide-s-plot .segment-plot:hover {
	opacity: 1;
}

.component-guide-s-plot .full-bar:hover {
	background-color: var(--rhp-color-gray);
}

@media (max-width: 910px) and (min-width: 800px) {

	.component-guide-s-plot .segment-plot, .component-guide-s-plot .bar-plot {
		transform: scale(0.8)!important;
		margin-top: -2rem!important;
		margin-bottom: -2rem!important;
	}
}

@media (max-width: 660px) {
	.component-guide-s-plot .segment-plot, .component-guide-s-plot .bar-plot {
		transform: scale(0.65)!important;
		margin-top: -4rem!important;
		margin-bottom: -4rem!important;
	}
	
}

@media (max-width: 420px) {
	.component-guide-s-plot .segment-plot, .component-guide-s-plot .bar-plot {
		transform: scale(0.5)!important;
		margin-top: -5.5rem!important;
		margin-bottom: -5.5rem!important;
	}
	
}

svg.plotSegment *:not(text, text>tspan) {
	stroke: var(--sl-color-text)!important;
}

svg.plotSegment text tspan {
	fill: var(--sl-color-text)!important;
}

svg.plotSegment rect{
	opacity: 0.5!important;
}

svg.plotSegment rect.bar, svg.plotSegment rect.dec {
	opacity: 1!important;
}

svg.plotSegment rect.bar {
	fill: var(--sl-color-text)!important;
}

svg.plotSegment .core {
	fill: var(--rhp-color-gray)!important;
}

input[type=number]::-webkit-inner-spin-button {
	width: var(--sl-text-base);
	height: var(--sl-text-base);
}

.flow .react-flow * {
	margin-top: 0px!important;
}